<div class="">
    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <h1>Change your password</h1>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>
            <div>
              <%= f.password_field :password, class: "form-control", placeholder: "New password" %>
            </div>
            <div>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
            </div>
            <div>
              <%= f.submit "Change my password", class: "btn btn-default submit",style: "margin-left: 90px;"%>
            </div>
           
          <% end %>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    </div>
  </div>
